.Menu_container {
    &>div{
        &>div:first-child {
            &>svg:first-child {
                position: absolute;
                z-index: -1;
            }
        }
    }
    &>div:nth-child(3) {
        svg {
            position: static !important;
        }
    }
    &>div:nth-child(3):hover{
        div {
            color: #BBBBBB;
        }

        svg {
            path {
                fill: #BBBBBB;
            }
        }
    }
    &>div:hover{
        div {
            color: #BBBBBB;
        }
        &>div:first-child {
            &>svg:first-child {
                z-index: 2;
            }
            &>svg:last-child {
                z-index: 0;
            }
        }

       
    }
}
.Active {
    &>div:first-child {
            &>svg:first-child {
                z-index: 9999 !important;

            }
            &>svg:last-child {
                z-index: 0 !important;
            }
    }
    &>div:last-child {
      color: #BBBBBB;
    }
}