@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: linear-gradient(175.52deg, #000000 10.13%, #1C0015 94.47%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeIn {
animation: fadeIn 0.5s ease-in-out forwards;
opacity: 0;
transform: translateY(20px);
}
.fadeIn2 {
animation: fadeIn 0.5s ease-in-out forwards;
opacity: 0;
transform: translateY(70px);
}
